@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-effect {
    transition: 0.5s;
} 
.shadow-effect:hover {
    transform: scale(1.03);
}

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }